.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  background-color: var(--purple);
  color: var(--white);
  border: 2px solid var(--purple);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  background: transparent;
  border: 2px solid white;
}

@media (max-width: 768px) {
  .button {
    padding: 16px 25px;
  }
}
