.outlined {
  display: block;
  margin: 0;
  background: transparent;
  border: 2px solid var(--white);
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.outlined:hover {
  background: var(--shadeBlue2);
  border: 2px solid var(--shadeBlue2);
}

.solid {
  display: block;
  height: 100%;
  margin: 0;
  background: var(--shadeBlue2);
  border: 2px solid var(--shadeBlue2);
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.solid:hover {
  border: 2px solid var(--white);
  color: var(--shadeBlue2);
  background: var(--white);
}
