.container {
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--black);
  -webkit-overflow-scrolling: touch;
  transition: transform 300ms ease-in-out;
  transform: translateX(-100%);
}

.container.active {
  transform: translateX(0%);
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 8px;
}

.button {
  padding: 4px;
  background: transparent;
  border: none;
  opacity: 0;
}

.secondaryActive {
  opacity: 1;
}

.backArrow, .timesIcon {
  width: 20px;
  height: 20px;
  color: white;
}

.logoContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logoContainer .image {
  width: 100px;
  height: 100px;
}

.closeButton {
  padding: 4px;
  background: transparent;
  border: none;
}

.primaryMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.primaryMenu a {
  display: flex;
  justify-content: flex-start;
  padding: 16px 28px;
  width: 100%;
}

.primaryMenu .hide {
  display: none;
}

.primaryGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: auto;
}

.primaryGroup .hide {
  display: none;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.textContainer h3 {
  width: 100%;
  color: var(--white);
  font-weight: 700;
}

.rightArrow {
  color: var(--white);
}

.secondaryMenu {
  position: static;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 8px;
  /* border-bottom: 1px solid var(--charcoal); */
  /* background-color: white; */
}

.secondaryMenu.show {
  display: flex;
}

.secondaryMenu a {
  justify-content: flex-start;
  padding: 9.8px 16px;
}

.secondaryMenu h3 {
  color: var(--white);
  font-weight: 700;
}

.secondaryGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.secondaryTextContainer h3 {
  color: var(--white);
}
