.container {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  padding: 0 32px;
  background-color: var(--mainColor);
}

.mobileMenu {
  display: none;
}

.headerScrolled {
  height: 68px;
}

.right {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0 16px;
}

@media (max-width: 768px) {
  .header {
   justify-content: space-between;
   height: 150px;
   padding: 0 8px;
  }

  .mobileMenu {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 0 20px;
  }

  .logoContainer {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
}
